.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 20px;
}

.mainBtn {
  border-style: none;
  border-width: 0;
  background-color: #7aeafc;
  padding: 20px;
  max-width: 90%;
  min-width: 200px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

