.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}